/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

a:hover {
  color: #0073e6;
}

ul {
  list-style: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

/* Smooth scrolling and snap scrolling */
main {
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Header */
.header {
  position: sticky;
  top: 0;
  background: #00000033;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
}

main {
  margin-top: -72px;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo a span {
  color: #ffd600;
}

.nav-links ul {
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  font-size: 1rem;
  font-weight: 600;
}

/* Hero Section */
.hero {
  background: linear-gradient(to bottom, #0073e6, #004d99);
  background-image: url({{'images/hero-bg.png'|absolute_url}});
  background-size: cover;
  color: white;
  text-align: center;
  padding: 2rem;
}

.divider {
  background-color: #ffffff;
  height: 1.5px;
  width: 100px;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 615px;
  gap: 32px;
  margin: 0 auto;
}

.hero h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.hero__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #e5e5e5;
}

.hero__cta {
  background: transparent;
  padding: 0.75rem 1.5rem;
  border: solid 1px #d4a373;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.hero__cta:hover {
  background: #004d99;
  color: white;
}

/* Articles Section */
#articles {
  background-color: #ffffff;
}

#articles > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #111111;
}
#articles nav {
  width: 100%;
  max-width: 1300px;
  margin-top: 60px;
}

.articles__nav {
  display: flex;
  width: 100%;
  max-width: 400px;
  justify-content: space-between;
  gap: 24px;
}

.articles__nav li {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  cursor: pointer;
}

.articles__nav li.active {
  color: #d4a373;
}

.articles__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  width: 100%;
  max-width: 1300px;
  margin: 2rem auto;
}

.articleCard {
  background: #f8f8f8;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 310px;
  height: 475px;
  margin: 0 auto;
}

.articleCard img {
  width: 100%;
  height: 58%;
  object-fit: cover;
}

.card__content {
  padding: 1rem;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.card__content time {
  font-size: 12px;
  font-weight: 400;
  line-height: 16.34px;
  text-align: left;
}

.card__content h4 {
  margin-bottom: 0.5rem;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
}

.card__content p {
  color: black;
  font-family: Open Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

/* Form Section */
section#signin {
  justify-content: flex-start;
  background-color: #efefef;
}
section#signin form {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

section#signin form > div.flex {
  flex: 1;
  gap: 17px;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-control label {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: black;
}

.form-control button.btn {
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  background-color: #d4a373;
  border: none;
}

input,
textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  border-color: #0073e6;
  outline: none;
}

/* Footer */
footer {
  background-color: #212529;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__links {
  padding: 100px 70px;
}

footer section {
  min-height: fit-content;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

footer h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

footer ul {
  list-style: none;
  margin-left: 0;
}

footer ul li {
  margin-bottom: 0.5rem;
}

footer ul li {
  color: #e5e5e5;
  font-size: 0.9rem;
}

footer address {
  font-style: normal;
  color: #bbb;
}

.footer__bottom {
  justify-content: space-between;
  width: 100%;
  background-color: #343a40;
  padding: 28px 70px;
  color: #e5e5e5;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.92px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-links ul {
    /* flex-direction: column; */
    align-items: flex-end;
    gap: 1rem;
  }

  section > h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24.38px;
  }

  .hero h1 {
    font-size: 2rem;
  }

  #articles > p {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
  }

  .articles__list {
    grid-template-columns: 1fr;
  }
  .articles__nav {
    gap: 12px;
  }

  .articles__nav li {
    font-size: 12px;
    font-weight: 700;
    line-height: 25px;
  }

  #signin form {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
    gap: 1rem;
  }

  .footer__links {
    padding: 20px;
    flex-direction: column;
  }

  .footer__bottom {
    padding: 20px 40px;
  }
}

